.wrapper
  .chat-main
    .chat-main__header
      .chat-main__header-leftbox
        .chat-main__header-leftbox-title
          = @group.name
        .chat-main__header-leftbox-member
          Member：
          - @group.users.each do |user|
            = user.name
      .chat-main__header-edit 
        = link_to 'Edit', edit_group_path(@group), class: "edit__button"

    .chat-main__Message
      = render @messages

    .chat-main__Footer-form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .chat-main__Footer-form-box
          = f.text_field :content, class: "chat-main__Footer-form-box-text", placeholder: "type a message"
          = f.label :image, class: "img-icon" do
            = icon('far', 'image')
            = f.file_field :image, class: "chat-main__Footer-form-box-img"
        = f.submit 'SEND', class: "chat-main__Footer-form-send"