.wrapper
  .side-bar 
    .side-bar__header
      .side-bar__header-box
        .side-bar__header-box-username
          = current_user.name
        .side-bar__header-box-icon 
          .side-bar__header-box-icon__light
          = link_to new_group_path, class: "Contents__btn" do
            = icon('far', 'edit', class: "Contents__btn--edit")
          .side-bar__header-box-icon__left
          = link_to edit_user_path(current_user), class: "Contents__btn" do
            = icon('fas', 'cog', class: "Contents__btn--cog")
    .side-bar__group-list
      - current_user.groups.each do |group|
        .side-bar__group-list-gropups
          = link_to group_messages_path(group), class: "groups__btn" do
            .side-bar__group-list-groups-member
              = group.name
            .side-bar__group-list-groups-messages
              = group.show_last_message